{template "content","header"}
{template "content","header_part"}
    <div class="banner about_banner">
        <img src="{IMG_PATH}about_banner.jpg" width="100%">
    </div>

    <section class="about_section">
        <div class="container">
            <div class="about_item">
                <div class="section_title text-center">
                    <h3>关于赢他</h3>
                    <p>about us</p>
                    <div class="line"></div>
                </div>
                {pc:get sql="SELECT * FROM yt_piccon_data WHERE id='2'" catid="$catid" cache="3600" moreinfo="1" return="data"}
                {loop $data $val}
                <div class="row">
                    <div class="col-sm-5 company_pic">
                        <img src="{$val[aboutpic]}">
                    </div>
                    <div class="col-sm-7">
                        <p class="about_txt">
                            {$val[content]}
                        </p>
                    </div>
                </div>
                {/loop}
                {/pc}
            </div>
            <div class="culture_item">
                <div class="section_title text-center">
                    <h3>企业文化</h3>
                    <p>Culture</p>
                    <div class="line"></div>
                </div>
                <div class="culture_box">
                    <div class="rvc" id="rvc1">
                        <div class="rvc-wrapper">
                            <ul>
                               <li>
                                   <a>
                                       <div class="img-wrapper"><img src="{IMG_PATH}culture/WH-1.jpg" width="100%"></div>
                                       <h3>十年如一日</h3>
                                       <p>勤奋、务实、上进</p>
                                   </a>
                               </li>
                                <li>
                                    <a>
                                        <div class="img-wrapper"><img src="{IMG_PATH}culture/WH-2.jpg" width="100%"></div>
                                        <h3>满满正能量</h3>
                                        <p>仁爱、公平、正义</p>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="img-wrapper"><img src="{IMG_PATH}culture/WH-3.jpg" width="100%"></div>
                                        <h3>前沿高科技</h3>
                                        <p>求是、批判、创新</p>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="img-wrapper"><img src="{IMG_PATH}culture/WH-4.jpg" width="100%"></div>
                                        <h3>树企业形象</h3>
                                        <p>安全、优质、效益</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="rvc-prv">
                            <i class="icon icon-zuo"></i>
                        </div>
                        <div class="rvc-next">
                            <i class="icon icon-you"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dev_section">
        <div class="container">
            <div class="section_title text-center">
                <h3>发展历程</h3>
                <p>development</p>
                <div class="line"></div>
            </div>
        </div>
    </section>
    <section class="time_section">
        <div class="container">
            <div class="time_main">
                <div id="timeline">
                    <ul id="dates">
                        {pc:content action="lists" catid="9" num="30" order="id ASC" moreinfo="1"}
                        {php $j=1;}
                        {loop $data $val}
                        <li>
                            <a href="#{$j}">{$val[title]}</a>
                        </li>
                        {php $j++}
                        {/loop}
                        {/pc}
                    </ul>
                    <ul id="issues">
                        {pc:content action="lists" catid="9" num="30" order="id ASC" moreinfo="1"}
                        {php $j=1;}
                        {loop $data $val}
                        <li id="{$j}" data="$data">
                            <img src="{$val[aboutpic]}">
                            <div>
                                {$val[content]}
                            </div>
                        </li>
                        {php $j++}
                        {/loop}
                        {/pc}
                    </ul>

                </div>
                <!-- optional -->
                <a class="prev" id="prev"><i class="icon icon-shang"></i></a>
                <a class="next" id="next"><i class="icon icon-xia"></i></a>
            </div>
        </div>
    </section>
{template "content","footer_part"}
<!--时间轴-->
    <script src="{JS_PATH}lib/timelinr/jquery.timelinr-0.9.53.js"></script>

    <!--企业文化轮播-->
    <script src="{JS_PATH}lib/rvc/rvc.js"></script>
    <script type="text/javascript">
        $(function () {
            /*时间轴*/
            var linum=1;
            linum = $("#dates li").length;
            $('#timeline').timelinr({
                orientation: 'vertical',
                issuesSpeed: 300,
                datesSpeed: 100,
                arrowKeys: 'true',
                startAt: linum
            });

            $('#rvc1').rvc({
                liNum: 4,//2~5之间的整数
                spaceBetween: 30,//li项之间的距离
                plr: 20,//当屏幕小于1024时，rvc的padding-left，padding-right值
                time: 400,//动画时间
                prv: '.rvc-prv',//前一个按钮
                next: '.rvc-next'//下一个按钮
            })
        })
    </script>
{template "content","footer"}