<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <link rel="stylesheet" href="{CSS_PATH}bootstrap.min.css" >
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}style.css">

    <!--相册-->
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}justifiedgallery.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}swipebox.css">

    <script src="{JS_PATH}jquery.min.js"></script>
    <script src="{JS_PATH}bootstrap.min.js"></script>
