{template "content","header"}
{template "content","header_part"}
<div class="banner">
        <div id="myCarousel" class="carousel slide" data-pause="none">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
            	{pc:get sql="SELECT * FROM phpcms_poster WHERE spaceid = 11 AND type='images' AND disabled=0 ORDER BY listorder ASC" num="5"} 
            	{php $j=0;}
                	{loop $data $r}
                   <?php
                   $arr= (array)json_decode($r['setting']);
                   foreach ($arr as $key => $val){
                            $imageurl = $val->imageurl;
                            $linkurl = $val->linkurl;
                            $alt = $val->alt;
                      }
                   ?>
                <li data-target="#myCarousel" data-slide-to="{$j}"></li>
                {$j++}
                {/loop}
                {/pc}
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
            	{pc:get sql="SELECT * FROM phpcms_poster WHERE spaceid = 11 AND type='images' AND disabled=0 ORDER BY listorder ASC" num="5"} 
                	{loop $data $r}
                   <?php
                   $arr= (array)json_decode($r['setting']);
                   foreach ($arr as $key => $val){
                            $imageurl = $val->imageurl;
                            $linkurl = $val->linkurl;
                            $alt = $val->alt;
                      }
                   ?>
                <div class="item">
                    <img src="<?php echo $imageurl; ?>" alt="{$r[name]}" width="100%">
                </div>
                {/loop}
                {/pc}
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon icon-zuo"></i></a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon icon-you"></i></a>
        </div>
    </div>
    <!--新闻-->
    <section class="section_news">
        <div class="container">
            <div class="section_title text-center">
                <h3>新闻与事件</h3>
                <p>news center</p>
                <div class="line"></div>
            </div>
            <div class="row news_item">
                <div class="col-xs-12 col-sm-5 news_right pull-right">
                    <div class="text-right">
                        <img src="{IMG_PATH}index_news.jpg">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 news_left pull-left">
                    <div class="item">
                        <ul>
                        	{pc:content  action="lists" catid="11" order="id DESC" num="8"}
                        	{loop $data $r}
							<li class="clearfix">
                                <a class="text col-xs-8" href="{$r[url]}">{$r[title]}</a>
                                <span class="time col-xs-4 text-right">{date('Y/n/d',$r[inputtime])}</span>
                            </li>
                        	{if $n==4}</ul><hr><ul>{/if}
                        	{/loop}
                        	{/pc}
                        </ul>
                        <div class="more">
                            <a href="{$CATEGORYS[11]['url']}">MORE<i class="icon icon-you"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="section_intro">
        <div class="container">
            <div class="intro_item clearfix">
            	{pc:get sql="SELECT * FROM yt_piccon_data WHERE id='2'" cache="3600" return="data"}
				{loop $data $val}
                <div class="col-sm-5">
                    <img src="{$val[aboutpic]}" width="100%">
                </div>
                <div class="col-sm-7">
                    <div class="title">
                        <h3>公司简介</h3>
                        <span>COMPANY PROFILE</span>
                        <div class="line"></div>
                    </div>
                    <div class="into_txt">
                        {str_cut(strip_tags($val[content]),780)}
                    </div>
                    <div class="more text-right">
                        <a href="{$CATEGORYS[7]['url']}">MORE<i class="icon icon-you"></i></a>
                    </div>
                </div>
                {/loop}
                {/pc}
            </div>
        </div>
    </section>
    <!--加入我们-->
    <section class="section_join">
        <div class="container">
            <div class="row join_item">
                <div class="col-sm-6">
                    <div class="title">
                        <h3>加入我们</h3>
                        <span>join us</span>
                        <div class="line"></div>
                    </div>
                    <p class="join_info">{$CATEGORYS[18][description]}</p>
                    <p class="join_info">同时欢迎各界供销商加入我们</p>
                    <div class="more">
                        <a href="{$CATEGORYS[18][url]}">MORE<i class="icon icon-you"></i></a>
                    </div>
                    <h2 class="sign">以人为本，共创共赢</h2>
                </div>
                <div class="col-sm-6 join_right text-right">
                    <a href="/join"><img src="{IMG_PATH}join_sign.png"></a>
                </div>
            </div>
        </div>
    </section>


{template "content","footer_part"}
<script type="text/javascript">
    $(function(){
        $('#myCarousel').carousel({
            interval: 5000
        });
        
        $('#myCarousel .item').eq(0).addClass('active');
        $('.carousel-indicators li:first-child').addClass('active');
    })
</script>
{template "content","footer"}